@model WebApplication1.Models.Hoadon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Hoadon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ngaymua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaymua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail_HD.MASP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail_HD.MASP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khachhang.TENKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khachhang.TENKH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SoHD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
