@model IEnumerable<WebApplication1.Models.Detail_HD>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoadon.SoHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sanpham.TENSP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hoadon.SoHD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sanpham.TENSP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SoHD }) |
            @Html.ActionLink("Details", "Details", new { id=item.SoHD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SoHD })
        </td>
    </tr>
}

</table>
