@model IEnumerable<WebApplication1.Models.Sanpham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loaisanpham.TENLOAI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loaisanpham.TENLOAI)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MASP }) |
            @Html.ActionLink("Details", "Details", new { id=item.MASP }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MASP })
        </td>
    </tr>
}

</table>
