

<div class="row">
    @{
        ViewBag.Title = "PDT";
    }

    <div class="jumbotron">
        <h1>Cloud </h1>
        <p>HỌC VIỆN KỸ THUẬT MẬT MÃ</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>@Html.ActionLink("Khachhang", "Index", "Khachhang")</h2>

        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Hoadon", "Index", "Hoadon")</h2>

        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Detail_HD", "Index", "Detail_HD")</h2>

        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Sanpham", "Index", "Sanpham")</h2>

        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Loaisanpham", "Index", "Loaisanpham")</h2>

        </div>
    </div>
</div>